// BREAKPOINTS

$mobile: 375px;
$desktop: 1440px;

// COLORS

// dark
$dm-elements: hsl(209, 23%, 22%);
$dm-background: hsl(207, 26%, 17%);
$dm-text: hsl(0, 0%, 100%);

// light
$lm-text: hsl(200, 15%, 8%);
$lm-input: hsl(0, 0%, 52%);
$lm-background: hsl(0, 0%, 98%);
$lm-elements: hsl(0, 0%, 100%);
