@import-normalize;
@import "./sass/_variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $lm-background;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  background-color: $dm-background;
}
