@import "../../sass/mixins";

.Homepage__Toolbar {
  @include justify-between;
  margin: 0 5rem;
  margin-top: 3rem;
}

.Homepage__Countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16.5rem);
  justify-content: space-between;
  margin: 0 5rem;
  margin-bottom: 3rem;
}

